flask
numpy
pandas
yfinance
pytickersymbols
tensorflow==2.16.1
keras
scikit-learn
matplotlib
plotly
requests
schedule
gunicorn
pandas_ta
PyYAML
mplfinance
robin-stocks
pyotp
schwab-py
openai
boto3
pandas_ta
